{{/*继承根模板*/}}

{{template "base.tmpl"}}

{{define "content"}}
    <h3>这是index页面</h3>
    <p>Hello {{.}}</p>
{{end}}

<script>
    function sum(a, b) {
        return a + b;
    }

    let c = sum(1 + 2)
    console.log(c);
</script>